body {
    background-image: url("GWbackground.jpg");
    background-size: cover;
    text-align: center;
}

#content {
  background-color: rgb(121, 239, 145);
    width: 90%;
    margin: 130px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: groove;
    padding: 15px;
    border: none
}

form h1 {
  text-shadow: 50px;
    font-size: 45px;
    margin-bottom: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 750;
    font-style: italic;
}
form p {
    font-size: 23px;
    margin-bottom: 15px;
}

input[type="email"]{
    background-color: rgba(227, 209, 209, 0.253);
    border-radius: 6px;  
}

label[for="age-verification"] {
    display: inline-block;
    vertical-align: middle;
}

input[type="submit"] {
    width: 38%;
    display: block;
    margin: auto;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    border: none
}

@media (min-width: 752px) {
  form {
    width: fit-content;
    min-width: 90%;
  }
  input[type="submit"] {
    width: 50%;
  }
}

@media (max-width: 752px) {
    form {
      width: fit-content;
      min-width: 90%;
    }
    input[type="submit"] {
      width: 50%;
    }
  }