body {
    background-image: url("../images/dollar.jpg");
    background-size: cover;
    text-align: center;
}

#content {
    background-color: rgb(186, 222, 193);
    width: 90%;
    margin: 130px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: groove;
    padding: 15px;
    border: none
}

form h1 {
    color: rgb(117, 171, 107);
    font-size: 45px;
    margin-bottom: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 750;
    font-style: italic;
}

form p {
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(132, 189, 110);
}

input[type="email"]{
    background-color: rgba(227, 209, 209, 0.253);
    border-radius: 6px;
    border-style: double;  
    border-color: rgb(255, 255, 255);
}

label[for="name"] {
  color: rgb(132, 189, 110);
  margin-left: 65px;
}

input[type="text"]{
  background-color: rgba(227, 209, 209, 0.253);
  border-radius: 6px;
  border-style: double;  
  border-color: rgb(255, 255, 255);
  margin: 7px;
}

input[type="tel"]{
  background-color: rgba(227, 209, 209, 0.253);
  border-radius: 6px;
  border-style: double;  
  border-color: rgb(255, 255, 255);
  margin: 7px;
}

label[for="phone"] {
  color: rgb(132, 189, 110);
}

label[for="email"] {
  color: rgb(132, 189, 110);
  margin-left: 65px;
}

label[for="age-verification"] {
    display: inline-block;
    vertical-align: middle;
    color: rgb(132, 189, 110);
    margin: 7px;
}

input[type="submit"] {
    width: 38%;
    display: block;
    margin: auto;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    background-color: lightgreen; /* Light green background */
    color: white;
}

@media (min-width: 752px) {
  form {
    width: fit-content;
    min-width: 90%;
  }
  input[type="submit"] {
    width: 50%;
  }
}

@media (max-width: 752px) {
    form {
      width: fit-content;
      min-width: 90%;
    }
    input[type="submit"] {
      width: 50%;
    }
  }